services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: pr_service
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: