services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: pr_service
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d pr_service" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_URL: "postgres://user:pass@db:5432/pr_service?sslmode=disable"
      PORT: "8080"
      LOG_LEVEL: "info"
      LOG_OUTPUT: "stdout"
      LOG_FILE_PATH: "/app/app.log"
    ports:
      - "8080:8080"

volumes:
  pgdata: